/* ------------Initial Phase CSS--------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: linear-gradient(120deg, skyblue,lightgreen,grey);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
  }
  header,
  form {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header {
    font-size: 60px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(231, 196, 109);
  }
  
  form input,
  form button {
    padding: 10px;
    border: none;
    font-size: 24px;
    background: white;
    outline: none;
  }
  form button {
    color: rgb(213, 48, 155);
    background-color: white;
    cursor: pointer;
  }
  form button:hover {
    color: white;
    background-color: rgb(25, 69, 86);
  }
  
  /* ----------------New List Container----------------- */
  
  .todo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .todo-list {
    min-width: 25%;
    list-style: none;
  }
  .todo {
    margin: 8px;
    font-size: 24px;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .todo li {
    flex: 1;
  }
  .cmplt-btn,
  .delete-btn {
    background-color: rgb(38, 162, 193);
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  }
  .delete-btn {
    background-color: rgb(254, 225, 225);
  }
  .todo-item {
    margin: 0 8px;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }